<!DOCTYPE HTML>
<html>
<head>
<title>Professor Magus' YouTube History</title>
    </head>
<body>
 
<h1><center>Click the pictures before the summaries of the Let's Play Series you are interested in to go to the playlist of that game! :D</center></h1>

<p1><a href="https://www.youtube.com/playlist?list=PLD_okAP-Xri2pFRDrJqIll0Q4R6ach6_6"> <img src="/content/CastlevaniaLoI.jpg" alt="Castlevania LoI" height="140px"></a>
Castlevania: Lament of Innocence was the first Let's Play that Professor Magus has done when he first started YouTube as DarkMagus1990. We join Leon Belmont, former knight of the Church
to look for his bethrothed, Sarah Trantoul, who was taken by the vampire Walter Berhnard, as he fights legendary monsters and learn more about the vampire artifacts, the Ebony and
Crimson Stones.
</p1></h1>

<h2>
    
    <p2><a href= "https://www.youtube.com/playlist?list=PLD_okAP-Xri1AqJeznv-pDTvMb6uUn6Li"> <img src="/content/InuyashaSoTCM.jpg" alt="Inuyasha SoTCM" height="125px"></a>
When his first Playstion 3 had experience the horrific yellow light of doom, Professor Magus decided to work on a new project until he got a new PS3 console, and that project was
Inuyasha: Secret of the Cursed Mask! We join Kururugi as he/she is sent to the past whilst getting wooden dolls for the Doll Festival his family shrine is hosting,
meeting all the beloved characters created by Rumiko Takahashi in a "Dating Sim" RPG. If you are looking to get into RPG's, then Inuyasha: Secret of the Cursed Mask
may be for you.</p2>
</h2>

<h3>
    <p3><a href= "https://www.youtube.com/playlist?list=PLD_okAP-Xri1UjsKPRsWmSN_J63uXoyem"> <img src="/content/castlevaniadarkness.jpg" alt="castlevania CoD" height="125px"></a>
    On Halloween, Professor Magus traveled back into the World of Castlevania, this time, finding himself in 1476 Vallachia. Join Hector, a former general of Count Dracula who is hellbent
    on revenge against his former friend who had his beloved killed at the stake as he descends once more into the forbidden art known as Devil Forging, a power that is matched that of Death himself!</p3>

<h4>
    <p4><a href= "https://www.youtube.com/playlist?list=PLD_okAP-Xri2FRgbbA9nrcGAh-Nen-K5N"> <img src= "/content/FinalFantasyXHD.jpg" alt="Final Fantasy X HD" height="125px"></a>
    "Listen to my story.... This may be our last chance.." Those were the words uttered at the beginning of Final Fantasy X by our whiny, daddy-issued protaganist, Tidus. We join
    Professor Magus in this journey through Spira, a world that has a never-ending cycle of death caused by the entity known as Sin. On the way, we meet Yuna, a Summoner who must fulfill
    the duty of defeating Sin by traveling to temples to acquire powerful beings known as Aeons, and heading to the ruins of the forbidden city of Zanarkand! Will Tidus find home, or is he just
    a fish out of water?</p4>

<h5>
    <p5><a href= "https://www.youtube.com/playlist?list=PLD_okAP-Xri0oYp0NFlBCcpm35b0n_Cko"> <img src="/content/KingdomHearts1HDReMixImage.jpg" alt="Kingdom Hearts 1 HD" height="175px"></a>
    Oh boy! Square Enix and Disney's first collaboration project, and possibly one of the greatest games of all time, has been re-mastered and ported onto the Playstation 3! Kingdom Hearts tells the
    tale of a 14 year-old Sora who dreams with his friends, Riku and Kairi, of seeing other worlds! One fateful night, this happens, at the price of his friends going missing! He runs into and joins
    Donald Duck and Goofy, who are looking for the missing King Mickey, on a quest to find and reunite with their friends! The Final Mix version of Kingdom Hearts has more Heartless and a hidden boss
    EXCLUSIVE to the Final Mix and 1.5 HD ReMix versions of the game.</p5>

<h6>
    <p6><a href= "https://www.youtube.com/playlist?list=PLD_okAP-Xri3ByoN6r0laNnTmkHTUnI1f"> <img src="/content/KingdomHeartsReChainofMemories.jpg" alt="Kingdom Hearts Re CoM" height="125px"></a>
    Professor Magus is joined once again by Sora, Donald and Goofy as they stumble upon Castle Oblivion, a mysterious chasm where the higher your climb, the more memories you lose. The only way to progress
    through is the faith of the Heart of the Cards... Wait... THIS ISN'T YU-GI-OH! For the first time, you also get the option to play as Riku in both the GBA and PS2/PS3 versions of this game that links between
    the first and second Kingdom Hearts games!</p6>
    
    
    </body>
</html>